.header{
    background-color: black;
    
    }
    .navi{
        margin-right: 30px;
        position: relative; 
        text-align: right;
    }
    .ima{
        background-image: url(image/Logo.png);
        height: 27px;
        width: 79px;
        margin-left: 150PX;
    }
    li>a{
        color: white;
        z-index: 1;
    }
    .container-fluid{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }    
    .list{
        position: absolute;
        height: calc(100vh - 60px);
    }
    aside{
        max-width: 100vh;
        right:-400px;
        overflow: hidden;
        position: relative;
        transition: 0.3s all;
    }
    .active{
        right: 0px;
       overflow: auto;
       
       
    }

  .im2{
      height:350px;

      overflow: scroll;
  }

